<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
</head>
<body>
<h1>Employee List</h1>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Skills</th>
        <th>Projects</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.email}"></td>
        <td th:text="${#strings.listJoin(employee.skills, ', ')}"></td>
        <td>
            <ul>
                <li th:each="project : ${employee.projects}">
                    <span th:text="${project.name}"></span> - <span th:text="${project.implication}"></span>%
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>